.full-card {
	margin-top: 2rem;
	height: 250px;
}

.padankan-cube-container {
	background-color: lightblue;
	display: grid !important;
	grid-template-columns: repeat(5, 1fr);
}

.padankan-cube-container .cube {
	scale: 0.65;
}

.kecil-besar {
	gap: 0.5rem;
	display: flex;
}

.kecil-besar .arrow {
	position: relative;
	width: 200px;
	height: 4px;
}

.kecil-besar .arrow::before {
	content: "";
	right: 0;
	rotate: 45deg;
	position: absolute;
	width: 10px;
	height: 10px;
	border-right: 4px solid black;
	border-top: 4px solid black;
}

.kecil-besar .arrow::after {
	content: "";
	position: absolute;
	width: 100%;
	top: 100%;
	height: 100%;
	background-color: black;
}

.container-drop-susun {
	width: 100%;
	height: 100px;
	margin-bottom: 1rem;
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
}

.container-kad-susun {
	margin-top: 1rem;
	width: 100%;
	height: 100px;
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
}

.container-kad-susun:hover {
	cursor: grab;
}

.box-drop-susun,
.box-drag-susun {
	height: 80px;
	aspect-ratio: 1 / 1;
	border-radius: 4px;

	display: grid;
	place-items: center;

	font-size: 2rem;
	font-weight: bold;
}

.box-drop-susun {
	height: 90px;
}

.box-drop-susun {
	background-color: var(--color-yellow-soft);
	border: 3px dashed black;
}

.box-drag-susun {
	background-color: var(--color-blue-light);
	border: 3px solid black;
	color: black;

	cursor: grab;
	user-select: none;
	touch-action: none;
}

@media (max-width: 520px) {

	.box-drop-susun,
	.box-drag-susun {
		height: 60px !important;
		aspect-ratio: 1 / 1;
		border-radius: 4px;

		display: grid;
		place-items: center;

		font-size: 2rem;
		font-weight: bold;
	}

	.box-drop-susun {
		height: 65px !important;
	}
}

.dragging {
	opacity: 0.9;
	transform: scale(1.08);
}

.drop-active {
	background-color: #dcfce7 !important;
	border-color: #22c55e !important;
}

.dragging {
	opacity: 0.9;
	transform: scale(1.08);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}